{% extends 'index.html' %}
{% block title%} Add Project {% endblock %}

{% block project  %}
<div class="container">
  <div class="py-5 mx-auto">
    <div class="col-md-8 card d-flex shadow p-4 mt-5 mx-auto">
      <div class="text-center">
        <h3 class="text-custom">Create a New Project</h3>
      </div>
      <div class="card card-plain">
        <form role="form" id="contact-form" method="post" autocomplete="off" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Project Title</label>
            {{ project_form.title }}
          </div>
          <span class="text-error">{{ project_form.title.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Details</label>
            {{ project_form.details }}
          </div>
          <span class="text-error">{{ project_form.details.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Total Target</label>
            {{ project_form.total_target }}
          </div>
          <span class="text-error">{{ project_form.total_target.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Start Date & Time</label>
            {{ project_form.start_time }}
          </div>
          <span class="text-error">{{ project_form.start_time.errors }}</span>

          <div class="mb-3">
            <label class="form-label">End Date & Time</label>
            {{ project_form.end_time }}
          </div>
          <span class="text-error">{{ project_form.end_time.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Category</label>
            {{ project_form.category }}
          </div>
          <span class="text-error">{{ project_form.category.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Add Tag</label>
            <select name="tags" multiple class="form-control">
              {% for tag in project_form.tags.field.queryset %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Photos</label><br />
            <input class="form-control" type="file" name="images" multiple required>
          </div>

          <div class="text-center">
            <button type="submit" name="create_project" class="btn btn-primary btn-lg w-100 mt-4">
              Create Project
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
