{% extends 'index.html' %}

{% block project  %}

<div class="mx-auto col-6">
  <a href="{% url 'addproject'  %}" class="btn btn-warning ">ADD Project NOw</a>
</div>
<div class="container row mx-auto  align-content-center p-5 m-5">

  {% for project in projects %}
  <div class="col-6 mt-3">
    <div class="card bg-light">
      <div class="d-flex g-0">
        <div class="w-100">
             <p>Images Before</p>
                <div class="image-container">
                    {% for image in imgs %}
                        {% if image.project.id == project.id and image.images_before %}
<img src="{{ image.images_before.url }}" alt="Image Before" class="img-fluid" style="max-width: 50%;">
                        {% endif %}
                    {% endfor %}
                </div>

                <p>Images After</p>
                <div class="image-container">
                    {% for image in imgs %}
                        {% if image.project.id == project.id and image.images_after %}
                            <img src="{{ image.images_after.url }}" alt="Image After" class="img-fluid" style="max-width: 50%;">
                        {% endif %}
                    {% endfor %}
                </div>
        </div>

        <div class="col-6">
          <h5 class=" fs-2">{{ project.title }}</h5>
          <p class="">{{ project.details }}</p>

          <p class="">
            <small class="text-muted">Total target: ${{ project.total_target }}</small>
          </p>

          <p class="">Start time: {{ currentProduct.created_at }}</p>
          <p class="">End time: {{ project.end_time }}</p>
          <p class="">Author: {{ project.creator }}</p>
          <a href="{% url 'detailsproject' project.id %}" class="btn btn-primary mt-3 btn-lg">Show</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<style>
  .project-image {
      width: 500px;  
      height: 500px;  
  }
</style>
{% endblock %}