{% extends 'index.html' %}
{% block title%} Details Project {% endblock %}

{% block project  %}

  <!-- <table border="1 solid red  ">
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Total target</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Pics</th>
      <th>Delete</th>
      <th>show</th>
       <th>Images</th> -->
    <!-- </tr>
    {% for project in projects %}
    <tr>
        <td>{{ project.title }}</td>
        <td>{{ project.details }}</td>
        <td>{{ project.total_target }}</td>
        <td>{{ project.start_time }}</td>
        <td>{{ project.end_time }}</td>
        <td>
            {% for img in project.image_set.all %}
                <img src="{{ img.images.url }}" class="project-image" alt="">
            {% endfor %}
        </td>
        <td><a href="{% url 'deleteproject' project.id %}">Delete</a></td>
        <td><a href="{% url 'detailsproject' project.id %}">Show</a></td>
    </tr>
    {% endfor %}
    </table>
</div>  -->
<div class="mx-auto col-6">
  <a href="{% url 'addproject'  %}" class="btn btn-warning ">ADD Project NOw</a>
</div>
<div class="container row mx-auto  align-content-center p-5 m-5">

  {% for project in projects %}
  <div class="col-6 mt-3">
    <div class="card bg-light">
      <div class="d-flex g-0">
        <div class="w-100">
<!--          {% for img in project.image_set.all %}-->
<!--          <img-->
<!--            src="{{ img.images.url }}"-->
<!--            class="rounded w-100  project-image"-->

<!--            alt="{{ currentProduct.name }}"-->
<!--          />-->
<!--          {% endfor %}-->
             <h3>Images Before</h3>
                <div class="image-container">
                    {% for image in imgs %}
                        {% if image.project.id == project.id and image.images_before %}
<img src="{{ image.images_before.url }}" alt="Image Before" class="img-fluid">
                        {% endif %}
                    {% endfor %}
                </div>

                <h3>Images After</h3>
                <div class="image-container">
                    {% for image in imgs %}
                        {% if image.project.id == project.id and image.images_after %}
                            <img src="{{ image.images_after.url }}" alt="Image After">
                        {% endif %}
                    {% endfor %}
                </div>
        </div>

        <div class="col-6">
          <h5 class=" fs-2">{{ project.title }}</h5>
          <p class="">{{ project.details }}</p>

          <p class="">
            <small class="text-muted">Total target: ${{ project.total_target }}</small>
          </p>

          <p class="">Start time: {{ currentProduct.created_at }}</p>
          <p class="">End time: {{ project.end_time }}</p>
          <p class="">Author: {{ project.creator }}</p>

          <a href="{% url 'deleteproject' project.id %}"  class="btn btn-primary mt-3 btn-lg">Delete</a>
          <a href="{% url 'detailsproject' project.id %}" class="btn btn-primary mt-3 btn-lg">Show</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<style>
  .project-image {
      width: 500px;  /* Adjust the maximum width as needed */
      height: 500px;      /* Maintain aspect ratio */
  }
</style>
{% endblock %}